table{
	border-collapse: collapse;
}
th{
	background-color: #00f;
	color: rgb(255,255,255);
	text-transform: uppercase;
}
td,th{

	border: 1px solid red;
}
fieldset{
	width: 10px;
	border: 1px radius;
}